body {
    font-family: 'Roboto', sans-serif;
    background-color: #192026;
}
.navigation-container{
    margin-top: 20px;
}
.anchoredLogo{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 40pt;
    transition: .5s;
}
.anchoredLogo:hover{
    color: #374151;
}
.anchoredLinks a{
    color: white;
    font-weight: 500;
    font-size: 13pt;
    transition: .5s;
}
.anchoredLinks:hover{
    color: #374151;
}
.searchBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    border-radius: 50px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.topAnime-section{
    margin-top: 50px;
}
.topAnimeHeading1{
    color: white;
    font-weight: bold;
    margin-bottom: 100px;
}
.topAnime-section-container{
    border: none;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #D9D9D9;
}
.topAnime-section-card{
    width: 100%;
    height: 100%;  
}
.topAnime-section-card img{
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px;
}
.topAnime-section-card a{
    text-decoration: none;
}
.category-section{
    margin-top: 100px;
}
.categoryHeading1{
    color: white;
    font-weight: bold;
}
.dropdown-catergory{
    width: 100%;
    height: 40px;
    background-color: #D9D9D9;
    color: black;
    font-weight: 500;
    font-size: 15pt;
}
.dropdown-menu{
    width: 25%;
    font-weight: 500;
}
.carousel-item{
    padding: 50px;
    padding-bottom: 150px;
}
.action-section{
    margin-top: 50px;
    padding-bottom: 30px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.actionHeading1{
    color: black;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
}
.action{
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action a{
    text-decoration: none;
}
.anime-image{
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px;
}
.animeImageHeading5{
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
}
.drama-section{
    margin-top: 50px;
    padding-bottom: 30px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.dramaHeading1{
    color: black;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
}
.drama{
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama a{
    text-decoration: none;
}
.fantasy-section{
    margin-top: 50px;
    padding-bottom: 30px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.fantasyHeading1{
    color: black;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
}
.fantasy{
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy a{
    text-decoration: none;
}
.footer-section{
    margin-top: 50px;
    height: 200px;
    background-color: #7F8389;
}