body {
    font-family: 'Roboto', sans-serif;
    background-color: #192026;
}
.navigation-container{
    margin-top: 20px;
}
.anchoredLogo{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 40pt;
    transition: .5s;
}
.anchoredLogo:hover{
    color: #374151;
}
.anchoredLinks a{
    color: white;
    font-weight: 500;
    font-size: 13pt;
    transition: .5s;
}
.anchoredLinks:hover{
    color: #374151;
}
.searchBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    border-radius: 50px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.topAnime-section{
    margin-top: 50px;
}
.topAnimeHeading1{
    color: white;
    font-weight: bold;
    margin-bottom: 100px;
}
.topAnime-section-container{
    border: none;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #D9D9D9;
}
.topAnime-section-card1{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/trending/trend-1.jpg");
    background-size: contain;
    width: 100%;
    height: 250px;
}
.topAnime-section-card2{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/trending/trend-2.jpg");
    background-size: contain;
    width: 100%;
    height: 250px;
}
.topAnime-section-card3{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/trending/trend-3.jpg");
    background-size: contain;
    width: 100%;
    height: 250px;
}
.topAnime-section-card4{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/trending/trend-4.jpg");
    background-size: contain;
    width: 100%;
    height: 250px;
}
.topAnime-section-card5{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/trending/trend-5.jpg");
    background-size: contain;
    width: 100%;
    height: 250px;
}
.category-section{
    margin-top: 100px;
}
.categoryHeading1{
    color: white;
    font-weight: bold;
}
.dropdown-catergory{
    width: 100%;
    height: 40px;
    background-color: #D9D9D9;
    color: black;
    font-weight: 500;
    font-size: 15pt;
}
.dropdown-menu{
    width: 25%;
    font-weight: 500;
}
.action-section{
    margin-top: 50px;
    padding-bottom: 50px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.actionHeading1{
    color: black;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
}
.carousel-item{
    padding: 50px;
}
.action-1{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-1.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-2{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-2.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-3{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-3.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-4{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-4.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-5{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-5.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-6{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-6.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-7{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-7.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-8{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-8.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-9{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-9.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-10{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-10.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-11{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-11.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.action-12{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/action/action-12.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-1{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-1.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-2{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-2.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-3{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-3.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-4{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-4.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-5{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-5.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-6{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-6.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-7{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-7.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-8{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-8.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-9{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-9.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-10{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-10.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-11{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-11.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-12{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/drama/drama-12.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-1{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-1.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-2{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-2.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-3{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-3.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-4{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-4.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-5{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-5.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-6{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-6.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-7{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-7.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-8{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-8.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-9{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-9.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-10{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-10.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-11{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-11.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.fantasy-12{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("Images/fantasy/fantasy-12.webp");
    background-size: cover;
    width: 20%;
    margin-left: 27px;
    margin-right: 27px;
    height: 250px;  
}
.drama-section{
    margin-top: 50px;
    padding-bottom: 50px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.dramaHeading1{
    color: black;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
}
.fiction-section{
    margin-top: 50px;
    padding-bottom: 50px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.fictionHeading1{
    color: black;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
}
.fictiongigHeading1{
    color: black;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
}
.footer-section{
    margin-top: 50px;
    height: 200px;
    background-color: #7F8389;
}